body {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 23px;
    background-image: url('bgimg1.png');
}

.choose {
    margin-top: 76px;
}

.input_style_text {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.input_text0 {
    margin: 5px;
    padding: 12.5%;
    background-color: rgb(47, 85, 95);
    border-width: 2px;
    border-radius: 12%;
}

.input_text1 {
    margin: 5px;
    padding: 10%;
    background-color: rgb(39, 28, 63);
    border-width: 2px;
    border-radius: 12%;
}

.w3-animate-left,
.w3-animate-right {
    animation-duration: 2s;
}

a {
    text-decoration: none;
    color: whitesmoke;
}